.formLogin{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;        
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.inputGmail{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.inputContraseña{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btnLogin{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
}